.come-as {
    padding-bottom: 128px;

    .container .come-as__photos-row + .come-as__photos-row {
        margin-top: 128px;
    }

    &-second {
        padding-top: 124px;
    }

    &__photos-row {
        display: flex;
        justify-content: space-between;
    }

    .photos {
        &-item {
            flex-shrink: 0;
            flex-basis: 263px;
            @include d-flex($a-items: null, $j-content: space-between, $f-direction: column);

            &_large {
                flex-basis: 541px;

                .photos-item {
                    &__img {
                        min-height: initial;
                        max-height: initial;
                    }

                    &__text {
                        width: 395px;
                    }
                }
            }

            &__wrap {
                display: flex;
                justify-content: flex-end;
                column-gap: 16px;
                height: fit-content;
            }

            &__img {
                min-height: 308px;
                max-height: 308px;
                margin-bottom: 5px;
            }

            > a {
                font-size: 14px;
                color: $main-dark;
                text-decoration: none;

                span {
                    display: block;
                }
            }

            &__date {
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 23px;
            }

            &__name {
                font-family: 'KudryashevHeadline-Regular', sans-serif;
                font-size: 24px;
                margin-bottom: 11px;
            }

            &__text {
                font-style: italic;
                letter-spacing: 0.8px;
                margin-bottom: 20px;
            }

            &__tags {
                @include d-flex();
                text-transform: uppercase;

                li a {
                    font-size: 14px;
                    color: $main-dark;
                    text-decoration: none;
                    padding: 3px 8px;
                    border: 1px solid $main-dark;
                    border-radius: 28px;
                }
            }
        }

        &-row_reverse {
            flex-direction: row-reverse;

            .photos-item__wrap {
                justify-content: initial;
            }
        }
    }
}