.interview {
    background: url('../images/interview__bg.jpg') no-repeat center / cover;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    &__title {
        display: flex;
        justify-content: space-between;

        > span:nth-child(2) {
            width: 420px;
        }
    }

    &__descr {
        width: 253px;
        margin-bottom: 22%;
    }

    &__author-info {
        &__wrap {
            @include d-flex($a-items: flex-end, $j-content: space-between);
        }

        > span:nth-child(2) {
            margin-bottom: 40px;
        }
    }
}