.section {
    &-title {
        font-family: 'KudryashevHeadline-Regular', sans-serif;
        font-size: 80px;
        font-weight: normal;
        text-align: right;

        > span {
            display: block;
        }
    }

    &-descr {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;

        > p {
            margin-top: 0;
            margin-bottom: 0;
            font-style: italic;

            &:first-child {
                text-indent: 23px;
            }
        }

        &-date {
            text-transform: uppercase;
        }
    }

    &-author-info {
        text-transform: uppercase;

        > span {
            display: block;
        }
    }

    &-come-as {
        display: block;
        font-size: 14px;
        color: $main-dark;
        letter-spacing: 115.8px;
        text-transform: uppercase;
        overflow-x: hidden;
        margin-top: 10px;
        margin-bottom: 125px;
    }
}