@font-face {
  font-family: "GramatikaDemo-Regular";
  src: url("../font/GramatikaDemo-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KudryashevHeadline-Regular";
  src: url("../font/KudryashevHeadline-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'GramatikaDemo-Regular', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.section-title {
  font-family: 'KudryashevHeadline-Regular', sans-serif;
  font-size: 80px;
  font-weight: normal;
  text-align: right;
}

.section-title > span {
  display: block;
}

.section-descr {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.section-descr > p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.section-descr > p:first-child {
  text-indent: 23px;
}

.section-descr-date {
  text-transform: uppercase;
}

.section-author-info {
  text-transform: uppercase;
}

.section-author-info > span {
  display: block;
}

.section-come-as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  color: #0f0d0d;
  margin-top: 10px;
  margin-bottom: 125px;
}

.presentation {
  position: relative;
}

.presentation__wrap {
  background: url("../images/presentation__bg.jpg") no-repeat center/cover;
  color: white;
  padding-bottom: 32px;
}

.presentation__logo {
  text-align: center;
  margin-bottom: 86px;
}

.presentation__title {
  margin-bottom: 90px;
}

.presentation__title > span:first-child {
  -webkit-transform: translateX(-24%);
  -ms-transform: translateX(-24%);
  transform: translateX(-24%);
}

.presentation__numbers {
  font-size: 14px;
  text-align: right;
}

.presentation__numbers > span {
  position: relative;
}

.presentation__numbers > span::after {
  content: ".";
  position: absolute;
  right: -5px;
}

.presentation__numbers > span + span {
  margin-right: 16px;
}

.presentation__numbers > span:first-child {
  margin-right: 68px;
}

.presentation__numbers > span:first-child::before {
  content: "";
  width: 19px;
  height: 1px;
  background-color: white;
  position: absolute;
  right: -27px;
  bottom: 2px;
}

.presentation__numbers > span:first-child::after {
  content: "";
  width: 47px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -55px;
  bottom: 2px;
}

.presentation__descr {
  width: 216px;
  margin-top: -147px;
  padding-right: 8px;
  margin-left: 17%;
  margin-bottom: 18.5%;
}

.presentation__descr-date {
  display: inline-block;
  margin-top: 50px;
}

.presentation__author-info {
  margin-left: 17%;
}

.presentation__author-info > span:nth-child(2) {
  margin-bottom: 45px;
}

.presentation__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 72px;
  position: absolute;
  top: 27%;
}

.presentation__social a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.presentation__social a:hover {
  color: darkgrey;
}

.presentation__offer-news {
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -64px;
  background-color: white;
  border-radius: 50%;
  font-size: 11px;
  color: #0f0d0d;
  letter-spacing: 1px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.presentation__offer-news > span {
  position: absolute;
  top: 50%;
  left: -3px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
  padding-top: 18px;
  margin-bottom: 52px;
  text-transform: uppercase;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  position: relative;
}

.header__panel-lines {
  width: 40px;
  height: 10px;
  position: relative;
}

.header__panel-lines::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.header__panel-lines::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__panel-padding {
  width: 100%;
  height: 10px;
  padding-bottom: 20px;
}

.header__panel ul {
  padding: 10px;
  background-color: black;
  border: 0.5px solid white;
  border-radius: 3px;
  z-index: 9;
}

.header__panel ul li {
  position: relative;
  margin-bottom: 10px;
}

.header__panel ul li::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  bottom: -6px;
}

.header__panel ul li:last-child {
  margin-bottom: 0;
}

.header__panel ul li:last-child::after {
  content: none;
}

.header__panel-links {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  cursor: initial;
}

.header__panel-links a {
  display: block;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.header__panel-links a:hover {
  color: darkgrey;
}

.header__panel-links .links-adaptive {
  display: none;
}

.header__panel-language {
  margin-right: 10px;
}

.header__panel-language-menu {
  position: relative;
  cursor: pointer;
}

.header__panel-language-menu .header__panel-padding {
  padding-bottom: 0;
  position: absolute;
  top: 15px;
  right: 0;
}

.header__panel-language-list {
  display: none;
  position: absolute;
  top: 25px;
  right: 5px;
}

.header__panel-language-list li {
  cursor: pointer;
}

.header__panel-language-list li:hover {
  color: darkgrey;
}

.header__panel-chevron::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  vertical-align: top;
  position: relative;
  top: 3px;
  left: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header__panel-lines:hover ul,
.header__panel-padding:hover ul,
.header__panel-language-menu:hover ul {
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.header__menu-item a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu-item a:hover {
  color: darkgrey;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  padding-right: 12px;
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.header__search::before {
  content: "(";
  position: absolute;
  left: -2px;
}

.header__search::after {
  content: ")";
  position: absolute;
  right: 0;
}

.header__search-icon {
  position: relative;
}

.header__search-icon > span {
  display: block;
}

.header__search .search-icon__circle {
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

.header__search .search-icon__rectangle {
  position: absolute;
  right: -2px;
  bottom: 1px;
  width: 3.5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.come-as {
  padding-bottom: 128px;
}

.come-as .container .come-as__photos-row + .come-as__photos-row {
  margin-top: 128px;
}

.come-as-second {
  padding-top: 124px;
}

.come-as__photos-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.come-as .photos-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 263px;
  flex-basis: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.come-as .photos-item_large {
  -ms-flex-preferred-size: 541px;
  flex-basis: 541px;
}

.come-as .photos-item_large .photos-item__img {
  min-height: initial;
  max-height: initial;
}

.come-as .photos-item_large .photos-item__text {
  width: 395px;
}

.come-as .photos-item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.come-as .photos-item__img {
  min-height: 308px;
  max-height: 308px;
  margin-bottom: 5px;
}

.come-as .photos-item > a {
  font-size: 14px;
  color: #0f0d0d;
  text-decoration: none;
}

.come-as .photos-item > a span {
  display: block;
}

.come-as .photos-item__date {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.come-as .photos-item__name {
  font-family: 'KudryashevHeadline-Regular', sans-serif;
  font-size: 24px;
  margin-bottom: 11px;
}

.come-as .photos-item__text {
  font-style: italic;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.come-as .photos-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.come-as .photos-item__tags li a {
  font-size: 14px;
  color: #0f0d0d;
  text-decoration: none;
  padding: 3px 8px;
  border: 1px solid #0f0d0d;
  border-radius: 28px;
}

.come-as .photos-row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.come-as .photos-row_reverse .photos-item__wrap {
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
}

.interview {
  background: url("../images/interview__bg.jpg") no-repeat center/cover;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.interview__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.interview__title > span:nth-child(2) {
  width: 420px;
}

.interview__descr {
  width: 253px;
  margin-bottom: 22%;
}

.interview__author-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.interview__author-info > span:nth-child(2) {
  margin-bottom: 40px;
}

.footer {
  padding: 32px 32px 52px;
  background-color: black;
  color: #0f0d0d;
  position: relative;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  background-color: white;
}

.footer .container > div {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.footer a {
  color: #0f0d0d;
  text-decoration: none;
}

.footer__left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 54px;
}

.footer__logo {
  margin-bottom: 64px;
}

.footer__mail-input {
  margin-bottom: 125px;
}

.footer__mail-input form {
  position: relative;
  margin-bottom: 23px;
}

.footer__mail-input #footerMail {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  border-width: 0 0 1px;
  border-color: black;
  font-family: 'KudryashevHeadline-Regular', sans-serif;
  outline: none;
}

.footer__mail-input span {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.8px;
}

.footer__mail-label {
  width: 100%;
  height: 100%;
  font-family: 'KudryashevHeadline-Regular', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 70%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.footer__mail-label.label_up {
  color: blue;
  top: -20px;
  left: -15%;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.footer__mail-btn {
  width: 24px;
  height: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer__mail-btn span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer__mail-btn span::before,
.footer__mail-btn span::after {
  content: '';
  display: block;
  width: 13px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  right: 0;
}

.footer__mail-btn span::before {
  -webkit-transform: translateY(-50%) rotate(35deg);
  -ms-transform: translateY(-50%) rotate(35deg);
  transform: translateY(-50%) rotate(35deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.footer__mail-btn span::after {
  -webkit-transform: translateY(-50%) rotate(-35deg);
  -ms-transform: translateY(-50%) rotate(-35deg);
  transform: translateY(-50%) rotate(-35deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.footer__socials-mail {
  font-family: 'KudryashevHeadline-Regular', sans-serif;
  font-size: 24px;
}

.footer__socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.footer__socials-links li + li {
  margin-left: 24px;
}

.footer__socials-links a {
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.footer__right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 147px;
  padding-right: 18px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__nav li + li {
  margin-top: 22px;
}

.footer__nav a {
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.footer__credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__credentials a {
  text-transform: uppercase;
}

.footer .section-come-as {
  color: white;
  margin-bottom: 0;
  position: relative;
  bottom: -44px;
}

@media (min-width: 1024px) {
  .header__panel-lines,
  .header__panel-language-btn,
  .header__search,
  .footer__mail-btn {
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .header__menu {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }

  .section-come-as {
    margin-bottom: 30px;
  }

  .come-as {
    padding-bottom: 50px;
  }

  .come-as .container .come-as__photos-row + .come-as__photos-row {
    margin-top: 50px;
  }

  .come-as .photos-item_large {
    -ms-flex-preferred-size: 263px;
    flex-basis: 263px;
  }

  .come-as .photos-item_large .photos-item__img,
  .come-as .photos-item_large .photos-item__text {
    width: 263px;
  }

  .come-as .photos-item_empty {
    display: none;
  }
}

@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__menu {
    display: none;
  }

  .header__panel-links .links-adaptive {
    display: block;
  }

  .presentation__logo {
    margin-bottom: 30px;
  }

  .presentation__logo img {
    width: 80%;
  }

  .presentation .section-title {
    font-size: 60px;
    text-align: center;
  }

  .presentation__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .presentation__title > span:first-child {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .presentation__descr {
    margin: 0 auto 30px;
    text-align: center;
  }

  .presentation__descr-date {
    margin-top: 20px;
  }

  .presentation__author-info {
    margin-left: 0;
    font-size: 14px;
    text-align: right;
  }

  .presentation__author-info > span:nth-child(2) {
    margin-bottom: 20px;
  }

  .presentation__social {
    row-gap: 30px;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  .come-as {
    padding-bottom: 20px;
  }

  .come-as .container .come-as__photos-row + .come-as__photos-row {
    margin-top: 30px;
  }

  .come-as__photos-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .come-as__photos-row.photos-row_second {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .come-as .photos-item {
    text-align: center;
  }

  .come-as .photos-item__wrap {
    margin-top: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .come-as .photos-item_last {
    margin-top: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .come-as .photos-item__tags {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .presentation .section-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .presentation__numbers {
    margin-bottom: 30px;
  }
}

@media (max-width: 475px) {
  .section-come-as {
    margin-bottom: 0;
  }

  .come-as .container .come-as__photos-row + .come-as__photos-row {
    margin-top: 0;
  }

  .come-as .photos-item__wrap,
  .come-as__photos-row.photos-row_second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }

  .come-as .photos-item {
    margin-top: 30px;
  }
}