@font-face {
  font-family: "GramatikaDemo-Regular";
  src: url("../font/GramatikaDemo-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KudryashevHeadline-Regular";
  src: url("../font/KudryashevHeadline-Regular.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}