@media (max-width: 475px) {
    .section-come-as {
        margin-bottom: 0;
    }
    .come-as {
        .container .come-as__photos-row + .come-as__photos-row {
            margin-top: 0;
        }
        .photos-item__wrap,
        &__photos-row.photos-row_second {
            flex-direction: column;
            margin-top: 0;
        }
        .photos-item {
            margin-top: 30px;
        }
    }
}